services:

  postgres:

    image: postgres:15

    environment:

      POSTGRES_DB: ${DB_NAME}

      POSTGRES_USER: ${DB_USER}

      POSTGRES_PASSWORD: ${DB_PASSWORD}

    volumes:

      - pgdata:/var/lib/postgresql/data

    restart: always

    networks:

      - traefik-net



  # Postgres separat pentru Metabase

  metabase-postgres:

    image: postgres:15

    env_file: .env

    environment:

      POSTGRES_DB: ${MB_DB_NAME}

      POSTGRES_USER: ${MB_DB_USER}

      POSTGRES_PASSWORD: ${MB_DB_PASSWORD}

    volumes:

      - metabase_pgdata:/var/lib/postgresql/data

    networks:

      - traefik-net

    restart: always



  orchestrator:

    build: ./orchestrator

    volumes:

      - ./:/app

    working_dir: /app

    env_file: .env

    networks:

      - traefik-net

    labels:

      traefik.enable: "false"

    command: ["sleep", "infinity"]   # È›ine containerul activ

    restart: always





  scheduler:

    build: ./scheduler

    env_file: .env

    volumes:

      - /var/run/docker.sock:/var/run/docker.sock

    networks:

      - traefik-net
    labels:

      traefik.enable: "false"
    restart: always



  api:

    build: ./flask_api

    working_dir: /app

    env_file: .env

    depends_on:

      - postgres

    labels:

      traefik.enable: "true"

      traefik.http.routers.api.rule: "Host(`${DOMAIN}`) && PathPrefix(`/api-matrix`)"

      traefik.http.routers.api.priority: 100

      traefik.http.routers.api.middlewares: "api-auth@file"

      traefik.http.services.api.loadbalancer.server.port: "3101"

      traefik.http.routers.api.entrypoints: "websecure"

      traefik.http.routers.api.tls.certresolver: "myresolver"

    restart: always

    networks:

      - traefik-net



  metabase:

    image: metabase/metabase:latest

    environment:

      MB_DB_TYPE: postgres

      MB_DB_DBNAME: ${MB_DB_NAME}

      MB_DB_PORT: 5432

      MB_DB_USER: ${MB_DB_USER}

      MB_DB_PASS: ${MB_DB_PASSWORD}

      MB_DB_HOST: metabase-postgres

      MB_SITE_URL: https://${DOMAIN}

    depends_on:

      - metabase-postgres

    labels:

      traefik.enable: "true"

      traefik.http.routers.metabase.rule: "Host(`${DOMAIN}`) && PathPrefix(`/`)"

      traefik.http.services.metabase.loadbalancer.server.port: "3000"

      traefik.http.routers.metabase.entrypoints: "websecure"

      traefik.http.routers.metabase.tls.certresolver: "myresolver"

    restart: always

    networks:

      - traefik-net





  traefik:

    image: traefik:v3.0

    env_file: .env

    command:

      - "--providers.docker=true"

      - "--providers.file.filename=/etc/traefik/traefik_dynamic.yml"

      - "--entrypoints.web.address=:80"

      - "--entrypoints.websecure.address=:443"

      - "--certificatesresolvers.myresolver.acme.httpchallenge=true"

      - "--certificatesresolvers.myresolver.acme.httpchallenge.entrypoint=web"

      - "--certificatesresolvers.myresolver.acme.email=${LETSENCRYPT_EMAIL}"

      - "--certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json"

    ports:

      - "80:80"

      - "443:443"

    volumes:

      - /var/run/docker.sock:/var/run/docker.sock:ro

      - ./traefik/traefik_dynamic.yml:/etc/traefik/traefik_dynamic.yml

      - ./traefik/acme.json:/letsencrypt/acme.json

    restart: always

    networks:

      - traefik-net



volumes:
  pgdata:
    name: pricing_pgdata
  metabase_pgdata:
    name: pricing_metabase_pgdata



networks:

  traefik-net:

    driver: bridge

